version: '3.9'

services:
    proxy:
        build:
            context: .
        environment:
            SERVER_NAME: ${SERVER_NAME}
            EMAIL: ${EMAIL}
        ports:
            - 443:443
            - 80:80
        volumes:
            - certs:/etc/letsencrypt/live/
volumes:
    certs: